nav .brand-logo {
   font-size: 2em;
}

@media only screen and (min-width: 994px) {
   nav #logo-text {
      padding-left: 75px;
   }
}

@media only screen and (max-width: 993px) and (min-width: 602px) {
   nav #logo-text {
      padding-left: 60px;
   }
   nav #logo-img {
      padding-right: 190px;
   }
}

@media only screen and (max-width: 601px) {
   nav #logo-text {
      visibility: hidden;
   }
   nav #logo-img {
      padding: 4px 0 4px 0;
   }
}

.rotate-btn {
   width: 100%;
}

#profile-modal {
   min-height: 500px;
}

.brand-logo {
   height: 100%;
}

#logo-img {
   height: 55px;
   padding-top: 7px;
   padding-left: 20px; 
   /*margin-top: 10%;*/
}

#update-info {
   width: 100%;
}

#search-label {
   margin-top:-12px;
}
