nav .brand-logo {
   font-size: 2em;
}

@media only screen and (min-width: 994px) {
   nav #logo-text {
      padding-left: 75px;
   }
}

@media only screen and (max-width: 993px) and (min-width: 602px) {
   nav #logo-text {
      padding-left: 60px;
   }
   nav #logo-img {
      padding-right: 190px;
   }
}

@media only screen and (max-width: 601px) {
   nav #logo-text {
      visibility: hidden;
   }
   nav #logo-img {
      padding: 4px 0 4px 0;
   }
}

.rotate-btn {
   width: 100%;
}

#profile-modal {
   min-height: 500px;
}

.brand-logo {
   height: 100%;
}

#logo-img {
   height: 55px;
   padding-top: 7px;
   padding-left: 20px; 
   /*margin-top: 10%;*/
}

#update-info {
   width: 100%;
}

#search-label {
   margin-top:-12px;
}

input[type='text'],
input[type='number'],
input,
textarea {
  font-size: 16px !important;
}

#profile-pic {
   display: none;
}

#profile-pic-container {
   padding-top: 100%;
}

.chips .input {
   font-size: 16px;
   width: 125px !important;
}

.autocomplete-content {
   position: absolute;
   width: 100%;
}

.class-change-btn {
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
   cursor: pointer;
   padding-right: 20px;
}

.table-curr, .table-num, .table-add {
   width: 16.6666667%
}

.table-name {
   width: 50%;
}

@media only screen and (max-width: 601px) { 
   td {
      font-size: 10px;
   }
}

@media only screen and (max-width: 992px) {
   #addCourse {
       width: 95%;
   }
}

#addCourseBtn {
   width: 100%;
}

.collapsible-header {
   justify-content: space-between;
}

.collapsible li.disabled .collapsible-body {
    display: none !important; /*or using id of the app to avoid the use of !important*/
}

.collapsible li.disabled .collapsible-header {
    background: #E0E0E0;
}

.class-remove-btn {
   float: right;
}

.class-toggle {
   float: left;
}

.trunc-name {
   width: calc(100% - 113px);
}

.modal.modal-fixed-footer .modal-content{
   overflow-y: hidden;
}

.collection > .collection-item.avatar > .title {
   font-size: 14px;
}

.collection > .collection-item.avatar > p {
   font-size: 12px;
}

.carousel-fixed-item > a {
   /*margin-top: 50%;*/
}

.carousel-fixed-item {
   height: 100%;
   top:50%;
}

.carousel.carousel-slider .carousel-fixed-item {
   height: 100%;
   bottom: 0;
   z-index: 0;
}

.carousel.carousel-slider {
   height:100%!important;
}

@media only screen and (max-width: 992px) {
   #userInfo {
      width: 95%;
   }
}

/*.carousel-item > div {
   margin-left: 10%;
   margin-right: 10%
}*/

#userInfo {
   height: 80%;
   max-height: 80%;
   background-color: unset;
   -webkit-box-shadow: unset;
   box-shadow: unset;
}

.modal > .modal-content {
   height:100%;
   /*padding: 0;*/
}

.carousel-item {
   /*max-width: 80%;*/
   /*margin-left: 10%;*/
}

@media only screen and (max-width: 601px) { 
   .carousel-item {
      max-width: 100%;
      margin-left: 0;
   }
   .carousel-item > div {
      margin-left: 5%;
      margin-right: 5%;
   }
   #userInfo {
       height: 98%;
       max-height: 98%;
       top:0!important;
   }
}

.carousel-item > .card{
   height: 100%;
}

.infoClose {
   position: absolute;
   right: 10px;
   top: 10px;
   z-index: 10;
   cursor: pointer;
}

.hideUser {
   position: absolute;
   left: 30px;
   bottom: -20px;
   z-index: 10;
   cursor: pointer;
}

.addUser {
   position: absolute;
   right: 30px;
   bottom: -20px;
   z-index: 10;
   cursor: pointer;
}

#inbox-icon {
   margin-right: 5px;
   padding-top: 2px;
}

